

// Mobile navigation
#mobile-navigation {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    nav {
        position: relative;
        top: 80px;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        display: block;
        padding: 0 15px;
        ul {
            padding-top: 0;
            li {
                display: block;
                margin-right: 0;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    display: block;
                    font-size: 1.8rem;
                    transition: none;
                    &:hover {
                        color: $yellow;
                    }
                    &::after {
                        display: none;
                    }
                }
                .ghost-btn {
                    max-width: 270px;
                    margin: 30px auto 70px;
                    color: #fff;
                    background-color: $yellow;
                    &:hover {
                        color: $dark;
                    }
                }
            }
        }
    }
    .closebtn {
        position: absolute;
        top: 20px;
        right: 15px;
        margin: 0;
        span {
            display: block;
            margin: 0;
            width: 35px;
            height: 35px;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 35px;
                height: 2px;
                background-color: $yellow;
                transform: rotate(45deg);
                top: 16px;
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    &.toggle-menu {
        opacity: 1;
        visibility: visible;
        @include lg {
            padding-top: 30px;
        }
        @include sm {
            padding-top: 20px;
        }
    }
}

.hamburger {
    padding: 10px 0;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: $yellow;
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 2px;
    background-color: $yellow;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    position: fixed;
    top: 40px;
}
.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out,
    opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.header--fixed {
    position: fixed;
    z-index: 9999;
    right: 0;
    left: 0;
    top: 0;
    padding: 25px 0 15px;
}
.header {
    transition: all 0.4s;
    background-color: transparent;
    &.headroom--pinned,
    &.headroom--not-top {
        //background-color: $heading-color;
        padding: 15px 0;
        @include md {
            padding: 10px 0 5px;
        }
    }
    &.headroom--top {
        background-color: transparent;
    }
    &.collapse-menu {
        height: 100%;
    }
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.stop-scroll {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.menu-show {
    opacity: 1;
    visibility: visible;
    background-color: $heading-color;
}
.menu-show-transparent {
    opacity: 1;
    visibility: visible;
    background-color: transparent;
}
.flash-center {
    @include sm {
        position: fixed;
        bottom: 25px;
        left: 0;
        z-index: 9999;
        padding: 0 15px;
        width: 100%;
    }
}
.alert.alert-success,
.alert.alert-error {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    background-color: #fff;
    border-radius: 5px;
    border-left: 4px solid $success;
    padding: 20px 60px;
    margin-bottom: 0;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: $success;
    box-shadow: 0px 10px 30px rgba(124, 179, 64, 0.45);
    transition: all 0.4s;
    @include sm {
        width: 290px;
        right: 15px;
        text-align: center;
        padding: 15px 20px;
    }
    span {
        color: $success;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: -25px;
            background-image: url(/build/images/success-icon.svg);
            background-size: 18px;
            background-position: center center;
            background-repeat: no-repeat;
            width: 18px;
            height: 18px;
        }
    }
    &.flash-mess-fadeout {
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
    }
    @include sm {
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
    }
}
.alert.alert-error {
    border-left: 4px solid $error-color;
    border-color: $error-color;
    color: $error-color;
    box-shadow: 0px 10px 30px rgba(211, 49, 49, 0.15);
    padding: 15px 20px 15px 40px;
    @include sm {
        padding: 10px 10px 10px 30px;
    }
    span {
        position: relative;
        color: $error-color;
        &::before {
            background-image: url(/build/images/error-icon.svg);
        }
    }
}

.headerHide {
    display: none !important;
}

.modal-open {
    overflow: initial!important;
    @media(max-width: 675px) {
        overflow: hidden!important;
    }
}

.modal-backdrop.show {
    opacity: 0.75;
}

.cookie-modal {
    .modal-content {
        border: 0;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
    }
    .modal-dialog {
        position: fixed;
        right: 30px;
        bottom: 30px;
        z-index: 999;
        margin: 0;
        @media (max-width: 676px) {
            right: 15px;
        }
    }
    .modal-header {
        padding: 15px 20px 0px;
        border-bottom: 0;
        h2 {
            font-size: 2rem;
        }
    }
    .modal-body {
        padding: 15px 20px 5px;
        p {
            margin: 0 0 15px;
            line-height: 1.4;
        }
        p, a {
            font-size: 1.4rem;
        }
        ul {
            margin: 20px 0;
            @include sm {
                margin: 15px 0;
                li {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .modal-footer {
        border-top: 0;
        padding: 0 20px 25px;
    }
    @media (min-width: 676px) {
        .modal-dialog {
            max-width: 415px;
        }
    }
}

.modal-backdrop {
    @media (max-width: 675px) {
        opacity: 0.6!important;
    }  
}

// splash loading screen
.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    pointer-events: none;
    .animate-box-bottom {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #1D1D1D;
        display: block;
        left: 0px;
        top: 0px;
        transition: all 0.5s;
        transform: translate(0%, 0%) translate3d(0px, 0px, 0px);
        display: flex;
        justify-content: center;
        align-items: center;
        .flash-logo {
            padding: 0 20px;
            img {
                height: 65px;
                animation: logo-grow 3s infinite alternate;
            }
        }

        @keyframes logo-grow {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(1.1);
            }
        }
    }
}