// Framework
$container: 1200px;


// Colors
$background-color: #fff;
$body-color: #1D1D1D;
$subtle: #22282C;
$heading-color: #1D1D1D;
$white: #ffffff;
$yellow: #FFAB00;
$dark: #1D1D1D;
$footer-gray: #999999;
$error-color: #d32f2f;
$success: #7CB342;
$border: #E9E9E9;
$secondary-surface: #F5F5F5;

// Typography
$main-font: 'AvertaIB', sans-serif;
$mono: 'Roboto Mono', monospace;



// Customer Services
$header_gray: #404040;
$blue-btn: #2E57B3;

// responsive variables
$lg-width: 1200px;
$md-width: 991px;
$sm-width: 768px;
$xs-width: 480px;

// spacing
$space-128: 128px;
$space-64: 64px;
$space-44: 44px;
$space-32: 32px;
$space-16px: 16px;